{% extends './structure.html' %}
{% block title %}Habitaciones{% endblock %}
{% block body %}

    <header>
        <div class="container-fluid">           
            <div class="row">              
                <ul class="nav nav-tabs justify-content-md-center bg-dark p-3">           
                    <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{url_for('index')}}"><span class="material-icons">
                        home
                        </span></a>
                    </li>                   
                    <li class="nav-item">
                    <a class="nav-link mx-3 text-white" href="{{url_for('index')}}">Inicio</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link mx-3 text-white" href="{{url_for('quienesSomos')}}">Quienes somos</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link mx-3 active" href="{{url_for('habitaciones')}}">Habitaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-3 text-white" href="{{url_for('contactenos')}}">Contactenos</a>
                    </li>                        
                </ul>                  
            </div>
        </div>
    </header>

    <main>
        <div class="row">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{{url_for('static',filename = './images/Imagen8.jpg')}}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{{url_for('static',filename = './images/Imagen9.jpg')}}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{{url_for('static',filename = './images/Imagen10.jpg')}}" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <table class="table table-bordered mt-3">
                        <thead>
                          <tr>
                            <th scope="col">Ciudad</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">Nro Habitaciones</th>
                            <th scope="col">Precio</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Medellín</td>
                            <td>Calle 67 # 56-10</td>
                            <td>3</td>
                            <td>150000</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Cartagena</td>
                            <td>Carrera 34 # 23-10</td>
                            <td>2</td>
                            <td>180000</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Santa Marta</td>
                            <td>Calle 78 # 45-47</td>
                            <td>4</td>
                            <td>160000</td>
                          </tr>                                                    
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

    <footer class="bg-dark mt-3">
        <div class="container">
            <div class="row p-5 justify-content-md-center">
                <div class="col-12 col-md-6 text-white text-end">
                    <p><i class="fas fa-user-tie mx-2"></i>Jhon Jairo Sanchez</p>
                    <p><i class="fas fa-city mx-2"></i>Medellín - Colombia</p>
                    <p><i class="fas fa-envelope-square mx-2"></i>iroh314@gmail.com</p>
                </div>
                <div class="col-12 col-md-6 border-start">
                    <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-square iconos fa-3x"></i></a>
                    <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram iconos fa-3x"></i></a>
                    <a href="https://co.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in iconos fa-3x"></i></a>

                </div>
            </div>
        </div>
    </footer>

{% endblock %}